@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap");
.Nav{
    /* border: 1px solid; */
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
}

.nav-links{
    /* border: 1px solid; */
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    
}

.action{
    /* border: 1px solid; */
    width: 200px;
    margin-left: 20px;
    display: flex;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
}

.action a {
    text-decoration: none;
}

.signup-button{
    /* border: 1px solid; */
    height: 35px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(38, 227, 194);
  background: linear-gradient(
    155deg,
    rgba(38, 227, 194, 1) 0%,
    rgba(69, 160, 245, 1) 76%
  );
    text-decoration: none;
    border-radius: 5px;
}



.signin-button {
    color: black;
}

.link{
    color: black;
}

.logo{
    color: #fcfcfc;
    margin-left: 60px;
}